{% extends "app.html" %}

{% block title %}Graphium Home{% endblock %}

{% block content %}

<div class="home-page">
    <img src="https://s3.rottigni.tech/public/github/graphium_logo.png" alt="graphium" width="250px" />
    <h1>Graphium UI</h1>
    <p>Visualize your <strong>Graphium</strong> graphs, inspect Prometheus metrics, and run playgrounds/tests from a
        single dashboard.</p>
    <section class="home-dashboards">
        Pick a graph and jump straight into its structure + metrics view.
    </section>
</div>
{% endblock %}